/********** Base styles **********/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Trebuchet MS, sans-serif;
  font-size: 100%;
}

h1 {
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
}

h2 {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 200px;
  height: 35px;
  border: 1px solid black;
  text-align: center;
}

.section {
  clear: margin;
  position: relative;
  color: black;
  background-color: #999999;
  padding: 10px;
  padding-top: 45px;
  font-size: 100%;
  border:1px solid black;
  margin-left: 15px;
  margin-bottom: 15px;
  margin-right: 15px;
}

.chicken {
  background-color: #cc9a99;
  color: black;
}

.beef {
  background-color: #b34d48;
  color: white;
}

.sushi {
  background-color: #e2d19f;
  color: black;
}

/********** Large devices **********/
@media (min-width: 992px) {
  .col-lg-1 {
    float: left;
    width: 33.33%;
  }
}

/********** Medium devices **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3 {
    float: left;
    width: 50%;
  }
  .col-md-2 {
    width: 100%;
  }
}

/********** Small devices **********/
@media (max-width: 767px) {
  .col-sm-1 {
    float: left;
    width: 100%;
  }
}
